.partners{
    margin-top: 100px;
    padding: 50px 150px;
    background-color: #000;
    margin-bottom: 100px;
}
.partners h1{
    text-align: center;
    color: #fff;
}
.partners h2{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: normal;
}
.partners-img-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 798px) {
    .partners h1{
        font-style: 35px;
    }
    .partners{
        padding: 50px 10px;
    }
    .partners-img-wrapper{
        max-width: 100%;
    }
    .partners-img-wrapper img{
        width: 20vh;
    }
}